<br>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col col-md-10">
        <h2>{{item.name}}</h2>
      </div>
      <div class="col col-md-2">
        <div class="btn btn-warning btn-sm float-right">Add to favorite</div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">Subheading</div>
    </div>
    <div class="row">
      <div class="col col-md-12">Subheading</div>
    </div>
    <div class="row">
      <div class="col col-md-12">Subheading</div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        Address: Burwood East 3151, Melbourne
      </div>
      <div class="col col-md-4">
        Distance: 100 Km
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">
      <div class="col col-3">Delivery available</div>
      <div class="col col-3">Pick up available</div>
      <div class="col col-3">Dry Hire</div>
      <div class="col col-3">Wet Hire</div>
    </div>
    <hr>
    <div class="row">
      <div class="col col-12">
        <img src="{{item.imagePath}}" class="img-fluid" style="width: 100%">
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
        {{item.desc}}
      </div>
    </div>
  </div>

</div>
